.maintitle {
    display: flex;
    margin: 10px;
    align-items: center;
}.maintitle>h1 {
    background-color: coral;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px grey;
    font-family: system-ui, Ubuntu;
}.maintitle>h2 {
    padding: 20px;
} .maintitle>h1:hover {
    cursor: pointer;
}