.searchbar-category {
    background-image: linear-gradient(10deg, rgb(132, 128, 208), rgb(172, 169, 169));
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block; 
    box-shadow: 0px 0px 2px black;
    transition: 0.3s;
    margin-right: 12px;
    color: white;
    font-family: system-ui, Ubuntu;
} .searchbar-category:hover {
    background-image: linear-gradient(10deg, rgb(245, 64, 218), rgb(40, 94, 255));
    font-weight: bold;
    box-shadow: 0px 0px 6px black;
    cursor: pointer;
} .selected-searchbar {
    background-image: linear-gradient(10deg, rgb(245, 64, 218), rgb(40, 94, 255));
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 6px black;
}

.searchbar-categories {
    display: flex;
    white-space: nowrap; 
    align-items: center;
}

.searchbar-main {
    margin: 10px;
    overflow-x: scroll; 
    width: 95%;
    height: auto;
    scrollbar-width: none;

    background-color: white;
    border-radius: 20px;
}

.searchbar-category-title {
    background-image: linear-gradient(10deg, rgb(127, 127, 127), rgb(223, 175, 226));
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block; 
    box-shadow: 0px 0px 2px black;
    transition: 0.3s;
    margin-right: 12px;
    color: rgb(0, 0, 0);
    font-family: system-ui, Ubuntu;
    font-size: small;
    font-weight: bold;
}