
.box {
    display: flexbox;
    width: 260px;
    padding: 10px;
    background-color: white;
    font-family: monospace;
    translate: -50px -60px;
    border-radius: 20px;
    border: 10px solid plum;
    margin: 10px;
    box-shadow: 0px 0px 10px black;
    transform: translate(-100px, -160px);
} .box>p {
    font-size: large;
} .box>h2 {
    font-size: large;
}

.category {
    padding: 5px;
    background-image: linear-gradient(130deg, rgb(223, 148, 223), rgb(154, 127, 227));
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
}

.categories-minidesc {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center; 
    border: 2px solid rgb(194, 194, 194);
    border-radius: 5px;
}

.need {
    padding: 7px;
    background-image: linear-gradient(130deg, rgb(180, 235, 195), rgb(136, 229, 93));
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
}


.exit {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
.minidesc-image-exit {
    display: flex;
}

.link {
    padding: 8px;
    background-color: rgb(242, 202, 137);
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
    border: 5px solid black;
    transition: 0.2s;
} .link:hover {
    background-color: rgb(255, 238, 0);
    cursor: pointer;
}

.apply-minidesc {
    padding: 8px;
    background-color: rgb(106, 209, 121);
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
    border: 5px solid black;
    transition: 0.2s;
    box-shadow: 0px 0px 2px black;
} .apply-minidesc:hover {
    background-color: rgb(107, 255, 93);
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}

a {
    text-decoration: none;
    color: black;
}

.links-minidesc {
    display: flex;

}
.minidesc-image {
    width: 140px;
    height: 140px;
    display: flex;
    align-self: center;
    border: 6px solid grey;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 0px 4px black;
}