.searchbar-category {
    background-image: linear-gradient(10deg, rgb(132, 128, 208), rgb(224, 224, 224));
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block; 
    box-shadow: 0px 0px 2px black;
    transition: 0.2s;
    margin-right: 12px;
} .searchbar-category:hover {
    background-image: linear-gradient(10deg, rgb(216, 150, 206), rgb(255, 255, 255));
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 6px black;
} .selected-searchbar {
    background-image: linear-gradient(10deg, rgb(216, 150, 206), rgb(255, 255, 255));
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 6px black;
}

.searchbar-categories {
    display: flex;
    white-space: nowrap; 
}

.searchbar-main {
    margin: 10px;
    overflow-x: scroll; 
    width: 95%;
    height: auto;
    scrollbar-width: none;

    background-image: linear-gradient(10deg, rgb(237, 237, 237), rgb(204, 204, 204));
    border-radius: 20px;
}