.searchbar-category {
    background-image: linear-gradient(10deg, rgb(132, 128, 208), rgb(224, 224, 224));
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block; 
    box-shadow: 0px 0px 2px black;
    transition: 0.3s;
    margin-right: 12px;
    color: white;
} .searchbar-category:hover {
    background-image: linear-gradient(10deg, rgb(255, 131, 236), rgb(58, 230, 252));
    font-weight: bold;
    box-shadow: 0px 0px 6px black;
} .selected-searchbar {
    background-image: linear-gradient(10deg, rgb(255, 131, 236), rgb(58, 230, 252));
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 6px black;
}

.searchbar-categories {
    display: flex;
    white-space: nowrap; 
}

.searchbar-main {
    margin: 10px;
    overflow-x: scroll; 
    width: 95%;
    height: auto;
    scrollbar-width: none;

    background-color: lightgray;
    border-radius: 20px;
}