.main {
    width: 30%;
    height: 80vh;
    overflow: auto;
}

.image {
    width: 120px;
    height: 120px;
    border: 7px solid black;
    border-radius: 20px;
}
.charity {
    width: 90%;
    padding: 12px;
    background-color: lightgray;
    border-radius: 20px;
    transition: 0.2s;
    margin: 10px;
    box-shadow: 0px 0px 2px black;
} .charity:hover {
    background-color: rgb(226, 226, 226);
    transform: translate(0px, -3px);
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}
.selected {
    background-color: white;
    box-shadow: 0 0 5px black;
} .selected:hover {
    background-color: white;
}
.categorya {
    padding: 5px;
    background-image: linear-gradient(130deg, rgb(212, 223, 148), rgb(240, 65, 220));
    font-weight: bold;
    font-size: medium;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
}

.descriptor {
    padding: 6px;
    background-image: linear-gradient(40deg, #d3e476, rgb(83, 236, 103));
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
    width: max-content;
    height: max-content;
}

.description {
    padding: 5px;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    margin: 10px;
    font-size: larger;
    box-shadow: 0px 0px 2px grey;
} .titleDescription {
    margin: 10px;
    display: inline;
    text-align: start;
} .titleDescription>h2>h3 {
    margin-left: 10px;
    margin-bottom: 5px;
}

.titlecard {
    display: flex;
}
.donate {
    padding: 8px;
    background-color: rgb(199, 196, 109);
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
    border: 5px solid black;
    transition: 0.2s;
} .donate:hover {
    background-color: rgb(255, 238, 0);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}
.needs {
    padding: 7px;
    background-image: linear-gradient(10deg, rgb(247, 129, 123), rgb(229, 206, 93));
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
}
.time {
    padding: 7px;
    background-image: linear-gradient(60deg, rgb(216, 167, 241), rgb(229, 93, 220));
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
}

.apply {
    padding: 10px 23px 10px 23px;
    background-color: rgb(106, 209, 121);
    font-weight: bold;
    font-size: larger;
    border-radius: 10px;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 3px;
    border: 5px solid black;
    transition: 0.2s;
    box-shadow: 0px 0px 2px black;
} .apply:hover {
    background-color: rgb(107, 255, 93);
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}