.orgpost-main {
    display: inline-block;
}
.orgpost-form {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;        
    text-align: center;
    background: green;
    gap: 15px;
    padding: 20px;
    border-radius: 20px;
    background-image: linear-gradient(10deg, rgb(76, 247, 108), rgb(73, 249, 255));
    width: 700px;
    margin: 10px;
    box-shadow: 0px 0px 5px black;
}.orgpost-form>span {
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
    color: black;
    gap: 5px;
} 

.input-orgpost {
    outline: none;
    border: none;
    width: 300px;
    padding:10px;
    border-radius: 20px;
    transition: 0.2s;
    text-align: center;
    background-color: rgb(246, 246, 246);
} .input-orgpost:hover {
    width: 320px;
    cursor:text;
    background-color: white;
}

.input-orgpost-description {
    outline: none;
    border: none;
    height: 200px;
    padding:10px;
    border-radius: 20px;
    width: 320px;   
}

.orgpost-submit {
    outline: none;
    border: 3px solid black;
    padding: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    border-radius: 20px;
    font-family: system-ui, Ubuntu;
} .orgpost-submit:hover {
    background-color: yellow;
    cursor: pointer;
    transform: scale(1.02);
}

.error-msg-org-signup {
    color: red;
    background-color: rgb(215, 215, 215);
    padding: 10px;
    border: 5px solid red;
    border-radius: 20px;
    font-weight: bold;
    font-size: larger;
}
