#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: monospace;

  
}

.mainmap {
  display: flex;
  background-image: linear-gradient(20deg, lightgrey, black);
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
}

.maintitle {
    display: flex;
    margin: 10px;
}.maintitle>h1 {
    background-color: coral;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px grey;
}.maintitle>h2 {
    padding: 20px;

}